{% extends "contacts/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: {% trans "Delete" %} {{ object.name }}{% endblock %}

{% block content_title %}
	<h2>{% trans "Delete" %} {{ object.name }}</h2>
{% endblock %}

{% block content %}
	<form action="." method="post" accept-charset="utf-8">
		<p>
			<select name="delete_company" id="delete_company" size="1">
				<option value="No">{% trans "No" %}</option>
				<option value="Yes">{% trans "Yes" %}</option>
			</select>
			<input type="submit" value="{% trans "Submit" %}">
		</p>
	</form>
{% endblock %}