{% extends "contacts/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: Edit {{ object.name }}{% endblock %}

{% block content_title %}
	<h2>Edit {{ object.name }}</h2>
{% endblock %}

{% block content %}
	<form action="." method="post" accept-charset="utf-8">
		<p>{{ form.name }}</p>
		
		{% include "contacts/_phone_number_form.html" %}
		{% include "contacts/_email_address_form.html" %}
		{% include "contacts/_instant_messenger_form.html" %}
		{% include "contacts/_web_site_form.html" %}
		{% include "contacts/_street_address_form.html" %}
		
		<p><input type="submit" value="Save"></p>
	</form>
{% endblock %}