{% extends "contacts/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: Add a new Person{% endblock %}

{% block content_title %}
	<h2>Add a new Person</h2>
{% endblock %}

{% block content %}
	<form action="." method="post" accept-charset="utf-8">
		<p>
			<label for="id_first_name">{{ form.first_name.label }}</label>
			{{ form.first_name }}
			<label for="id_last_name">{{ form.last_name.label }}</label>
			{{  form.last_name }}
		</p>
		<p>
			<label for="id_title">{{ form.title.label }}</label>
			{{ form.title }}
			<label for="id_company">{{ form.company.label }}</label>
			{{ form.company }}
		</p>
		<p>
			<label for="id_about">{{ form.about.label }}</label><br>
			{{ form.about }}
		</p>
		<p><input type="submit" value="Add"></p>
	</form>
{% endblock %}