{% extends "contacts/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: {{ object }}{% endblock %}

{% block content_title %}
	<h2>
		<span class="fn">{{ object }}</span>
		{% if object.nickname %}
		<span class="alt">(<span class="nickname">{{ object.nickname }}</span>)</span>
		{% endif %}
	</h2>
	<p class="meta org">
		{% if object.title %}<span class="title">{{ object.title }}</span> at {% endif %}
		<a href="{{ object.company.get_absolute_url }}" class="organization-name">
			{{ object.company }}
		</a>
	</p>
	
	<p>
		<a href="{{ object.get_update_url }}">{% trans "Update" %}</a>
		<a href="{{ object.get_delete_url }}">{% trans "Delete" %}</a>
	</p>
{% endblock %}

{% block content %}
	{{ object.about|linebreaks }}
	
	{% include "contacts/_phone_number_list.html" %}
	{% include "contacts/_email_address_list.html" %}
	{% include "contacts/_instant_messenger_list.html" %}
	{% include "contacts/_street_address_list.html" %}
	{% include "contacts/_web_site_list.html" %}
	{% include "contacts/_comment_list.html" %}
{% endblock %}