{% extends "contacts/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: {% if imported %}{% trans "Import Successful" %}{% else %}{% trans "Import vCard" %}{% endif %}{% endblock %}

{% block content_title %}
	<h2>{% if imported %}{% trans "Import Successful" %}{% else %}{% trans "Import vCard" %}{% endif %}</h2>
{% endblock %}

{% block content %}
	<form action="." method="post" accept-charset="utf-8" enctype="multipart/form-data">
		{{ form.as_p }}
		<p><input type="submit" value="Import"></p>
	</form>
	
	{% if imported %}
		<ul class="link_list">
			{% for object in imported %}
			<li>
				Imported a {{ object.meta.verbose_name|title }} called
				<a href="{{ object.get_absolute_url }}">{{ object }}</a>
			</li>
			{% endfor %}
			{% for object in updated %}
			<li>
				Update a {{ object.meta.verbose_name|title }} called
				<a href="{{ object.get_absolute_url }}">{{ object }}</a>
			</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}