<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>{% block title %}{% endblock %}</title>
	<style media="screen">
	body { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }
	a { color: blue; }
	a:visited { color: blue; }
	a:hover { color: red; }
	.alt { color: #ccc; font-style: oblique; font-size: .8em; }
	</style>
</head>
<body>
	{% block body %}
		{% block content_title %}{% endblock %}
		{% block content %}{% endblock %}
	{% endblock %}
</body>
</html>